-
  const forWhat = [
    {icon: './assets/img/forWhat/forWhat_1.png', title: 'Прибыль и новые клиенты', desc: 'В дни акции вы сможете увеличить выручку в среднем в 2 раза от обычной. Мы приведем вам новую аудиторию из интернета и социальных сетей — вы получите новых покупателей и расширите клиентскую базу. '},
    {icon: './assets/img/forWhat/forWhat_2.png', title: 'Избавление от излишних товарных запасов', desc: 'Распродажа — не только способ привлечь новых клиентов, но и, в том числе,продать неходовые товарные остатки и высвободить оборотные средства'},
    {icon: './assets/img/forWhat/forWhat_3.png', title: 'Узнаваемость бренда', desc: '«Битва Скидок» — проект, который принесет пользу и компаниям-участникам, и покупателям. Компании заработают на распродаже и повысят известность бренда, а покупатели останутся довольны выгодными покупками. '},
  ]

section.forWhat
  .container
    +sectionTitle('Зачем вам нужна битва скидок?')
    .forWhat__top
      each subItem in forWhat
        .forWhat__item
          .icon
            img(src=subItem.icon alt=subItem.title)
          .title=subItem.title
          p.desc= subItem.desc
    .forWhat__bottom
      p Узнайте больше о преимуществах в нашей презентации
      +button('Скачать презентацию')