section.sale
  .container
    .sale__top
      .sale__top-first Скидка 28%
      .sale__top-second и бессплатная доставка
      .sale__top-present
        img(src="./img/sale/present.png", alt="")
        span в подарок
    .sale__bottom
      .sale__price
        span.crossedOut 2 545 р.
        span.line
        span.redText 1 850 р.
      .sale__form
        .sale__form-text
          span Акция только до:
          img(src="./img/sale/date.png", alt="")
          span декабря !
        button.button Заказать