section.difference
  .container
    .difference__top
      span.left Обычное кресло
      span.right Бескаркасное кресло
    .difference-wrap
      .left
        p.difference__item боковые стенки преграда для движений ребенка, особенно в зимний период, когда много одежды
        p.difference__item необходимо менять автокресло по мере увеличения веса ребенка
        p.difference__item имеет 5-ти точечную фиксацию ребенка 
        p.difference__item нужно убирать в багажник, при перевозки взрослых или каких либо грузов
      .right
        p.difference__item дает полную безопасную свободу ребёнка ОСТАВЛЯЕТ СПИНКУ СИДЕНИЕ ЧИСТЫМ
        p.difference__item подходит  1, 2, 3 группе детей (от 9 кг до 36 кг) (от 1 года до 12 лет)
        p.difference__item имеет 5-ти точечную фиксацию ребенка 
        p.difference__item не мешает при перевозке пассажиров или грузов. Весит 700 грамм
