-
  const tarifsArray = [
    {text: 'Размещение участника во всех сообществах в социальных сетях проекта, вхождение в подборки по категориям', stats: ['yes', 'yes', 'yes', 'yes']},
    {text: 'Фирменная символика мероприятия:фирменный стиль, правила оформления, макеты листовок, наклеек и ценников.', stats: ['yes', 'yes', 'yes', 'yes']},
    {text: 'Консультация маркетологов, как правильно подготовится к мероприятию. ', stats: ['yes', 'yes', 'yes', 'yes']},
    {text: 'Размещение участника во всех сообществах в социальных сетях проекта, вхождение в подборки по категориям с отдельной рекламной кампанией', stats: ['no', 'yes', 'yes', 'yes']},
    {text: 'Отдельная рекламная кампания по целевой аудитории участника с охватом от 100 до 200 тысяч человек.', stats: ['no', 'no', 'yes', 'yes']},
    {text: 'Главный партнер проекта.  Присутствие на всех рекламных носителях и во всех каналах коммуникаций Битвы Скидок (соцсети, сайты, билборды)', stats: ['no', 'no', 'no', 'yes']},
  ]

section.tarifs#tarifs
  .container
    +sectionTitle('Тарифы')
    p.tarifsScrollAside < Листайте таблицу в сторону >
    .table-wrap
      table
        thead
          tr
            td
            td «Участник»
            td «Участник +»
            td «ВИП»
            td «Хэдлайнер»
        tbody
          each subItem in tarifsArray
            tr
              td.textTd= subItem.text
              each statsItem in subItem.stats
                td
                  img(src=`./assets/img/tarifs/${statsItem}.png`, alt="")
        tfoot
          tr
            td
            td 
              button Учавствовать
            td 
              button Учавствовать
            td 
              button Учавствовать
            td 
              button Учавствовать