section.hero
  .container
    .hero__wrap
      .hero__text
        h1.hero__title Сертифицированные детские бескаркасные автокресла
        p.hero__desc с бесплатной доставкой по Челябинску
    .hero__form-wrap
      form.hero__form
        div.hero__form-title Нет времени читать?
        p.hero__form-desc Оставляйте номер, мы вам перезвоним!
        input(class="input" placeholder="Ваш телефон")
        button.button перезвоните мне