.modal__bg
  form.modal.modal-call
    .modal-body
      button.modal-close
      .modal-title Обратный звонок
      .modal-desc Оставляйте номер, мы вам перезвоним!
      input(class='input' placeholder='Ваш телефон')
      button.button Перезвоните мне
  .modal.modal-thanks
    .modal-body
      button.modal-close
      .modal-title Спасибо за вашу заявку!
      .modal-desc Наш менеджер свяжеться с вами в ближайшее время!