section.sertification
 .container-small
  h2.sectionTitle Сертификация товара
  .sertification-wrap
    .sertificate
      img(src="./img/sertification/sertificate.png", alt="")
    .sertification-text
      .sertification-title
        .warning-icon
        span Соответствуют всем нормам и требованиям правил ГИБДД
      p Наши кресла производятся в г. Георгиевске (Ставропольский край), сертифицированны и разрешены к использованию по всей России.
      p Кресло весит всего 700 грамм, его можно носить с собой и установить в любое авто.
      p Стирать кресло можно при температуре 30 градусов. 