section.productInfo
  .container-small
    h2.sectionTitle Перимущества
    .productInfo-wrap
      .productInfo__left
        .info__block
          .title Крепкие ремни
          p.desc Тесьма ременная имеет плотную структуру и выдерживает большие нагрузки.
        .info__block
          .title Удобная установка
          p.desc Достаточно продеть штатный ремень безопасности автомобиля, через специальный карман устройства "ВИННИ" и застегнуть в замок.
      .productInfo__right
        .info__block
          .title Безопасные материалы
          p.desc При пошиве используется ткань "Оксфорд", сетка Air-mesh 3-х слойная, поролон, спанбонд, халлофайбер. Все материалы экологически чистые, сертифицированы.
        .info__block
          .title Прочные крепления
          p.desc Устройство  ВИННИ" имеет пятиточечную систему крепления. Пряжки производят из высокопрочных пластиков, имеющих хорошие показатели упругости. 