section.geo
  .container
    .paralax
    .content
      .geo__top
        p.geo__top-text Это будет мероприятие городского масштаба. 
        p.geo__top-text О вашей компании узнают все жители 
        .blueText Челябинска и области
        .geo__top-title > 1 500 000 человек
      .geo__content
        .geo-bg
        .leftMargin.geo__textBlock
          .title Челябинск
          p.desc Мы запустим рекламную кампанию по всему Челябинску и охватим аудиторию размером 700-800 тысяч человек через интернет, соцсети и наружную рекламу.
        .rightMargin.geo__textBlock
          .title Область
          p.desc Размещаем рекламу по всей Челябинской области, получаем дополнительный охват 500-700 тысяч человек  — расширяем зону воздействия и еще больше усиливаем ажиотаж. 
        .centerMargin.geo__textBlock
          .title Событие
          p.desc Жители Челябинска и жители области, которые приедут в Челябинск на общегородскую распродажу, целенаправленно будут тратить деньги на покупки в магазинах-участниках акции.
