footer.footer
  .container
    .footer-wrap
      img(src="./img/header/logo.png", alt="")
      a(href="#" class='footer__link') Политика конфиденциальности
      .footer__right
        p Инн 999999999        
        p ОГРН 453453453453
