section.contacts
  .container
    .contacts-wrap
      .contacts__map
        img(src="./img/contacts/map.png", alt="")
      .contacts__text
        img(src="/img/contacts/geoicon.png", alt="")
        .contacts__text-before Забрать кресло можно по адресу:
        .contacts__text-adress
          p Челябинск
          p ул. Академика Королева, 38
        .contacts__action
          p.contacts__text-before или используйте
          button.button Бессплатная доставка