header.header
  .container
    .header__wrap
      .header__logo
        a(href="#")
          img(src="./img/header/logo.png", alt="")
      .header__contacts
        div.header__tel-wrap
          a(href="tel:+7(950)7333170" class='header__tel') + 7 (950) 733-31-70
        div.header__button-wrap
          button.header__button Заказать обратный звонок