// Colors
$red: #d60505;
$yellow: #ffd52b;
$green: #32b228;
$blue: #008aff;
$white: #ffffff;
$black: #000000;
$lgray: #e8e8e8;
$bgray: #e2ecf5;

// Font size
$base-font-size: 14px;
$base-line-height: 1.7;

// Fonts
$base-font: 'GothamPro', sans-serif;