section.faq
  .container-small
    +sectionTitle('Часто задаваемые вопросы', 'yellow', 'white')
    .faq__accordion
      .accordion__item
        button.accordion__btn
          span Вдруг мою компанию не заметят среди остальных?
          span.arrow
        .accordion__desc
          p Мы проведем рекламную кампанию с охватом в десятки раз больше, чем вы можете запустить сами. Чем больше участников в «Битве скидок», тем больше общий охват аудитории.
      .accordion__item
        button.accordion__btn
          span Вдруг мою компанию не заметят среди остальных?
          span.arrow
        .accordion__desc
          p Мы проведем рекламную кампанию с охватом в десятки раз больше, чем вы можете запустить сами. Чем больше участников в «Битве скидок», тем больше общий охват аудитории.
      .accordion__item
        button.accordion__btn
          span Вдруг мою компанию не заметят среди остальных?
          span.arrow
        .accordion__desc
          p Мы проведем рекламную кампанию с охватом в десятки раз больше, чем вы можете запустить сами. Чем больше участников в «Битве скидок», тем больше общий охват аудитории.
 
      