section.leadMagnit
  .container
    .leadMagnit-wrap
      .sale-block
        span.blue Скидка 28%
        span.black 2 545 р.
        span.line
        span.red 1 850 р.
      .leadMagnit-text
        .title Оставьте заявку сейчас и получите
        .marked бесплатную доставку
        div
          input(type="text" placeholder="Ваш телефон" class="input")
        div
          button.button Перезвоните мне

